*.komodoproject
*.orig
*.pyc
*.swp
*.xls*
*coverage*
*egg*
.DS_Store
.project
.pydevproject
.settings
.swp
.tox
__pycache__/
_trial*
build/
dist/
django/.idea/
django/logs/
dropin.cache
tags
twistd*
txcontainerkit/
django/settings.py
